{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans mon site!{% endblock %}

{% block body %}<br>
<br>
<img src="{{ asset('build/images/img.png') }}">

<center><div class="well">


<p>Bonjour !</p>
      <p>Je m'appelle <strong><em>Ouail Amin</em></strong>.<br>
Actuellement étudiant en Master 2 <br>informatique pour les science a l’Université de Montpellier,<br> 
Étudiant rigoureux, curieux et dynamique <br>Passionne par l'informatique et des nouvelles<br> technologies, A la recherche d’un
Stage <br>en développement web</p>
<p>Bonne visite !</p>
    


</div></center>







{% endblock %}
