{% extends 'base.html.twig' %}

{% block title%} Administrateur  {% endblock %}

{% block body %}
<center><div>
<h1>Administrateur<h1>
<p><a href="adminprojet"><button type="button"class="btn btn-primary">Modifier Mes Projet</button></a>
<a href="admincompetence"><button type="button"class="btn btn-primary">Modifier Mes Competences</button></a>
<a href="admincontact"><button type="button"class="btn btn-primary">Modifier Mes contact</button></a><br></p>
<p><a href="adminexperience"><button type="button"class="btn btn-primary">Modifier Mes Experience</button></a>
<a href="adminhobbie"><button type="button"class="btn btn-primary">Modifier Mes Hobbies</button></a>
<a href="adminformation"><button type="button"class="btn btn-primary">Modifier Mes Formation</button></a></p>
</div></center>

{% endblock %}

