{% extends 'base.html.twig' %}

{% block title%} Hobbies  {% endblock %}

{% block body %}
<h1>Centre d'interet</h1>
  {% if hobbies %}
    <table class="table table-striped" >
      <thead>
        <tr>
         <th></th>
        </tr>
      </thead>
      <tbody>
        {%  for hobbie in hobbies %}
          <tr>
            <td>{{ hobbie.description }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Tableau vide</p>
  {% endif %}

{% endblock %}