{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans mon site!{% endblock %}

{% block body %}




<br>
<br>
<center><div class="well" ;>


<p>Bonjour !</p>
      <p>Je m'appelle <strong><em>Ouail Amin</em></strong>.<br>
Actuellement étudiant en Master 2 <br>informatique à l’Université de Montpellier,<br> j’ai l’honneur de vous soumettre ma candidature<br> pour un stage  en développement web.<br>
Étudiant rigoureux, curieux et dynamique <br>Passionne d’informatique et de nouvelles<br> technologies, A la recherche d’un
Stage <br>en développement Back end/front end</p>
<p>Bonne visite !</p>
    


</div></center>







{% endblock %}
