{% extends 'base.html.twig' %}

{% block title%} projets  {% endblock %}

{% block body %}
<h1>Administrateur<h1>
<a href="adminprojet"><button type="button"class="btn btn-primary">Modifier Mes Projet</button></a><br>
<a href="adminprojet"><button type="button"class="btn btn-primary">Modifier Mes Competences</button></a><br>
<a href="adminprojet"><button type="button"class="btn btn-primary">Modifier Mes contact</button></a><br>
<a href="adminprojet"><button type="button"class="btn btn-primary">Modifier Mes Experience</button></a><br>
<a href="adminprojet"><button type="button"class="btn btn-primary">Modifier Mes Hobbies</button></a><br>
<a href="adminprojet"><button type="button"class="btn btn-primary">Modifier Mes Formation</button></a><br>
{% endblock %}

